* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  line-height: 0.8;
  font-family: "Poppins", sans-serif;
}

.white h1 {
  color: #222;
}

.white h2 {
  color: #222;
}

.white h3 {
  color: #222;
}

.white h4 {
  color: #222;
}

.white h5 {
  color: #222;
}

.white h6 {
  color: #222;
}

.white a {
  color: #222;
}

.white p {
  color: #444;
}

p {
  color: #444;
}

.blue {
  background: linear-gradient(135deg, rgba(0, 94, 199, 0.85), rgba(162, 0, 255, 0.8)) !important;
}

.blue nav {
  background: #000 !important;
}

.blue .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #0084d7;
}

.blue h1 {
  color: #fff;
}

.blue h2 {
  color: #fff;
}

.blue h3 {
  color: #fff;
}

.blue h4 {
  color: #fff;
}

.blue h5 {
  color: #fff;
}

.blue h6 {
  color: #fff;
}

.blue a {
  color: #0084d7;
}

.blue p {
  color: #fff;
}

.blue #tool .container .row .tool__heading h6 {
  color: #fff;
}

.blue #tool .container .row .tool__service .service_content {
  background-color: rgba(68, 68, 68, 0.67);
}

.blue #service .container .row .service__main {
  background-color: rgba(68, 68, 68, 0.67);
}

.blue #footer {
  background-color: #444;
}

.blue #blog .container .row .blog__main .blog_item h6 {
  color: #ffbb00;
}

.blue #blog .container .row .blog__main .blog_item p {
  color: #fff;
}

.blue #blog .container .row .blog__main .blog_item a {
  color: #ffbb00;
}

.blue #team .container .row .team__detail_main .team__detail h4 {
  color: #222;
}

.black {
  background: #222;
}

.black nav {
  background: #000 !important;
}

.black .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #ffbb00;
}

.black h1 {
  color: #ffbb00;
}

.black h2 {
  color: #ffbb00;
}

.black h3 {
  color: #ffbb00;
}

.black h4 {
  color: #ffbb00;
}

.black h5 {
  color: #ffbb00;
}

.black h6 {
  color: #ffbb00;
}

.black a {
  color: #ffbb00;
}

.black p {
  color: #fff;
}

.black #tool .container .row .tool__service .service_content {
  background-color: #4530B1;
}

.black #blog .container .row .blog__main .blog_item h6 {
  color: #fff;
}

.black #blog .container .row .blog__main .blog_item p {
  color: #fff;
}

.black #team {
  background: linear-gradient(135deg, rgba(100, 99, 98, 0.85), rgba(0, 0, 0, 0.8)), url(../images/teambg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.black #service .container .row .service__main {
  background-color: #363942;
}

.black #footer {
  background-color: rgba(85, 64, 8, 0.8);
}

.orange {
  background: #f68420;
}

.orange nav {
  background: #000 !important;
}

.orange .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #f68420;
}

.orange h1 {
  color: #fff;
}

.orange h2 {
  color: #fff;
}

.orange h3 {
  color: #fff;
}

.orange h4 {
  color: #fff;
}

.orange h5 {
  color: #fff;
}

.orange h6 {
  color: #fff;
}

.orange a {
  color: #fff;
}

.orange p {
  color: #F4F6FC;
}

.orange #about .container .row .about__heading_main .about__btn a {
  color: #0ca684;
}

.orange #tool .container .row .tool__heading h6 {
  color: #F4F6FC;
}

.orange #tool .container .row .tool__service .service_content {
  background-color: #3E29A4;
}

.orange #blog .container .row .blog__main .blog_item h6 {
  color: #F4F6FC;
}

.orange #blog .container .row .blog__main .blog_item p {
  color: #F4F6FC;
}

.orange #team {
  background: linear-gradient(135deg, rgba(12, 135, 166, 0.816), rgba(0, 230, 119, 0.815)), url(../images/teambg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orange #team .container .row .team__detail_main .team__detail h4 {
  color: #0ca684;
}

.orange #service .container .row .service__main {
  background-color: rgba(76, 7, 7, 0.7411764706);
}

.orange #footer {
  background-color: rgba(81, 18, 18, 0.9098039216);
}

#color_pick .container .color__main .color ul li:nth-child(1) {
  background: #fff;
}

#color_pick .container .color__main .color ul li:nth-child(2) {
  background: #0084d7;
}

#color_pick .container .color__main .color ul li:nth-child(3) {
  background: #1a1a1a;
}

#color_pick .container .color__main .color ul li:nth-child(4) {
  background: #f68420;
}

#color_pick .container .color__main .color ul li:nth-child(5) {
  background: #7b1fa2;
}

#color_pick .container .color__main .color ul li:nth-child(6) {
  background: #00acc1;
}

#color_pick .container .color__main .color ul li:nth-child(7) {
  background: #43a047;
}

#color_pick .container .color__main .color ul li:nth-child(8) {
  background: #009688;
}

#color_pick .container .color__main .color ul li:nth-child(9) {
  background: #34495e;
}

.navbar-toggler {
  background-color: #F4F6FC;
}

.nav {
  padding: 20px;
}
.nav .container img {
  width: 150px;
}
.nav .container .nav__main ul li a {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  transition: all linear 0.2s;
}
.nav .container .nav__main ul li a:hover {
  color: #f68420;
}

#banner {
  padding-top: 120px;
  padding-bottom: 80px;
}
#banner .container .banner__wrapper .banner__heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
}
#banner .container .banner__wrapper .banner__heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 44px;
}
#banner .container .banner__wrapper .banner__heading a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #222;
  padding: 16px 55px;
  background-color: #FCD980;
  border-radius: 41px;
  display: inline-block;
}
#banner .container .banner__wrapper .banner__img {
  position: relative;
}
#banner .container .banner__wrapper .banner__img img {
  position: absolute;
  right: -55px;
  bottom: -40px;
}

#about {
  padding: 100px 0 80px 0;
}
#about .container .row {
  align-items: center;
}
#about .container .row .about__heading_main .about__heading h6 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#about .container .row .about__heading_main .about__heading h2 {
  font-size: 32px;
  font-weight: 400;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#about .container .row .about__heading_main .about__heading p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#about .container .row .about__heading_main .about__p {
  margin-left: 30px;
  margin-top: 30px;
}
#about .container .row .about__heading_main .about__p p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}
#about .container .row .about__heading_main .about__btn {
  display: flex;
  gap: 30px;
}
#about .container .row .about__heading_main .about__btn a {
  padding: 15px 20px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  transition: all linear 0.2s;
  border-radius: 5px;
  display: inline-block;
}

#tool {
  padding: 100px 0 80px 0;
}
#tool .container .row .tool__heading {
  text-align: center;
  margin-bottom: 60px;
}
#tool .container .row .tool__heading h6 {
  color: #0084d7;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}
#tool .container .row .tool__heading h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
}
#tool .container .row .tool__img {
  position: relative;
}
#tool .container .row .tool__img p {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
}
#tool .container .row .tool__img img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#tool .container .row .tool__service {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
#tool .container .row .tool__service .service_content {
  padding: 22px 28px;
  padding-right: 36px;
  background-color: #F0EDFF;
  border-radius: 15px;
  display: flex;
  gap: 40px;
  padding-right: 60px;
  align-items: center;
}
#tool .container .row .tool__service .service_content img {
  width: 120px;
  height: 120px;
}
#tool .container .row .tool__service .service_content .content_detail h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
}
#tool .container .row .tool__service .service_content .content_detail p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 10px;
}

#blog {
  padding: 50px 0 80px 0;
}
#blog .container h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 64px;
}
#blog .container .row {
  row-gap: 50px;
  justify-content: center;
}
#blog .container .row .blog__main .blog_item img {
  width: 100%;
}
#blog .container .row .blog__main .blog_item h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: rgba(40, 41, 56, 0.7);
  margin-top: 40px;
}
#blog .container .row .blog__main .blog_item h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 14px 0;
}
#blog .container .row .blog__main .blog_item p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(40, 41, 56, 0.7);
  margin-bottom: 28px;
}
#blog .container .row .blog__main .blog_item a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

#team {
  padding: 120px 0;
  background: linear-gradient(135deg, rgba(0, 94, 199, 0.85), rgba(162, 0, 255, 0.8)), url(../images/teambg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#team .container .team__heading {
  text-align: center;
}
#team .container .team__heading p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
  letter-spacing: 5px;
}
#team .container .team__heading h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 60px;
  color: #fff;
}
#team .container .row {
  row-gap: 40px;
}
#team .container .row .team__detail_main .team__detail {
  width: 90%;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
#team .container .row .team__detail_main .team__detail .team__img {
  width: 100%;
  position: relative;
}
#team .container .row .team__detail_main .team__detail .team__img:hover .overlay {
  opacity: 1111;
  cursor: pointer;
}
#team .container .row .team__detail_main .team__detail .team__img img {
  width: 100%;
}
#team .container .row .team__detail_main .team__detail .team__img .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.803);
  height: 100%;
  opacity: 0;
  transition: all linear 0.3s;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 30px;
  gap: 20px;
}
#team .container .row .team__detail_main .team__detail .team__img .overlay a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, rgba(0, 94, 199, 0.85), rgba(162, 0, 255, 0.8));
  color: #fff;
  font-size: 20px;
}
#team .container .row .team__detail_main .team__detail p {
  margin-top: 20px;
  color: #0084d7;
}
#team .container .row .team__detail_main .team__detail h4 {
  font-weight: 600;
  margin-bottom: 25px;
}

#service {
  padding: 100px 0;
}
#service .container .service__heading {
  text-align: center;
}
#service .container .service__heading p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#service .container .service__heading h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 60px;
}
#service .container .row {
  row-gap: 25px;
}
#service .container .row .service__main {
  background-color: #F4F6FC;
  padding: 45px 25px 40px 40px;
  border-radius: 8px;
}
#service .container .row .service__main .service__detail h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#service .container .row .service__main .service__detail p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

#footer {
  padding: 100px;
  background-color: #F4F6FC;
}
#footer .container .row .logo img {
  width: 140px;
  margin-bottom: 40px;
}
#footer .container .row .logo p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
#footer .container .row .talk h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 20px;
}
#footer .container .row .talk p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
#footer .container .row .talk .icon {
  display: flex;
  gap: 20px;
}
#footer .container .row .talk .icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: linear-gradient(135deg, rgba(0, 94, 199, 0.85), rgba(162, 0, 255, 0.8));
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
}
#footer .container .row .list {
  text-align: center;
}
#footer .container .row .list h6 {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 40px;
}
#footer .container .row .list .footer__link {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#footer .container .row .list .footer__link a {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-transform: capitalize;
  display: inline-block;
}

#color_pick .container .color__main {
  position: fixed;
  right: 50px;
  bottom: 75px;
}
#color_pick .container .color__main .setting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: aqua;
  border-radius: 0 0 20px 20px;
}
#color_pick .container .color__main .setting:hover .color ul {
  display: flex;
}
#color_pick .container .color__main .color {
  opacity: 11;
  padding: 10px 0;
  background-color: rgba(52, 73, 94, 0.76);
  border-radius: 20px 20px 0 0;
}
#color_pick .container .color__main .color ul {
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  transition: step-start 0.3s;
  display: flex;
}
#color_pick .container .color__main .color ul li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #444;
}

.activate {
  opacity: 0 !important;
}/*# sourceMappingURL=style.css.map */